<div class="row">
   <div class="col-md-12">

    <h2> 交换清单 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">书名</th>
          <th>类型</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% current_list.list_items.each do |list_item| %>
          <tr>
            <td>
              《<%= link_to(list_item.exbook.title, exbook_path(list_item.exbook)) %>》
            </td>
            <td>
              <%= list_item.exbook.booktype %>
            </td>

            <td>
              <%= list_item.quantity %>
            </td>

          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        共计 <%= current_list.exbooks.count %> 本
      </span>
    </div>

    <hr>

    <h2> 订单资讯 </h2>

    <div class="exorder-form">

      <%= simple_form_for @exorder do |f| %>



          <legend> 订购人</legend>
          <div class="form-group col-lg-3">
            <%= f.input :shipping_name  %>
          </div>
          <div class="form-group col-lg-3">
            <%= f.input :shipping_wechat  %>
          </div>
          <div class="form-group col-lg-3">
           <%= f.input :shipping_phone  %>
          </div>
          <div class="form-group col-lg-3">
            <%= f.input :shipping_location  %>
          </div>

        <div class="checkout">
          <%= f.submit "生成交换单", class: "btn btn-lg btn-danger pull-right",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
