<div class="container">
  <div class="row">
    <% @exbooks.each do |exbook| %>
      <div class="col-xs-6 col-md-6">
        <%= link_to exbook_path(exbook) do %>
          <% if exbook.image.present? %>
            <%= image_tag(exbook.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
        <%= exbook.title %>|<%= exbook.booktype %>
      </div>
    <% end %>
  </div>
</div>
