<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-6">
      <h2> <%= @exbook.title %> </h2>
      <div style="height:100px;">
        <p>
          <%= @exbook.description %>
        </p>
      </div>
      <div> 可交换数量 : <%= @exbook.quantity %> </div>
      <div class="exbook-type"> | <%= @exbook.booktype %> </div>
      <div class="pull-right">
        <%= link_to("加入心愿单", add_to_list_exbook_path(@exbook), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      </div>
    </div>
  </div>
</div>
