<div class="row">
  <div class="col-md-12">
    <h2>
      订单明细 <br>
      <small>
        <%= link_to("订单连结", exorder_url(@exorder.token)) %>
      </small>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">书名</th>
          <th>类型</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% @exbook_lists.each do |exbook_list| %>
          <tr>
            <td>
              <%= exbook_list.exbook_name %>
            </td>
            <td>
              <%= exbook_list.exbook_booktype %>
            </td>
            <td>
              <%= exbook_list.quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

     <hr>

     <h2> 个人信息确认 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> 订购人 </td>
        </tr>
        <tr>
          <td>
            <%= @exorder.shipping_name %> - <%= @exorder.shipping_wechat %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @exorder.shipping_phone %> - <%= @exorder.shipping_location %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
