<div class="row">
  <div class="container">
    <div class="col-md-12" style="margin-top:25px;">
      <div class="group">
        <%= link_to("新建 讨论组", new_group_path, class: "btn btn-primary pull-right") %>
      </div>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>组数</th>
            <th>组名</th>
            <th>简介</th>
            <th>创建者</th>
            <th>操作选项</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.id %></td>
              <td><%= link_to(group.title, group_path(group)) %></td>
              <td><%= group.description %></td>
              <td><%= group.user.email %></td>
              <td>
                <div class="btn-group">
                  <%= link_to("编辑", edit_group_path(group), class: "btn btn-sm btn-primary")%>
                  <%= link_to("删除", group_path(group),    class: "btn btn-sm btn-danger",
                              method: :delete, data: { confirm: "Are you sure?" } )%>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
