<div class="row navbar-fixed-0">
  <div class="container">
    <div class="col-md-12">
      <div class="group">
        <h2 class="pull-left title-cl-1">书吧</h2>
        <%= link_to("兴趣组", new_group_path, class: "btn btn-primary btn-lg pull-right fa fa-plus-circle") %>
      </div>
      <div class="row">
        <div class="container text-center">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd34im62opj30j60a0wev.jpg" alt="">
        </div>
      </div>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>组数</th>
            <th>组名</th>
            <th>简介</th>
            <th>创建者</th>
            <th>操作选项</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.id %></td>
              <td><%= link_to(group.title, group_path(group)) %></td>
              <td><%= simple_format(group.description) %></td>
              <td><%= group.user.email %></td>
              <td>

                <% if current_user && current_user == group.user %>
                <div class="btn-group">
                  <%= link_to("编辑", edit_group_path(group), class: "btn btn-sm btn-primary")%>
                  <%= link_to("删除", group_path(group),    class: "btn btn-sm btn-danger",
                              method: :delete, data: { confirm: "Are you sure?" } )%>
                </div>
                <% else %>
                  <%= link_to("请先登录", groups_path, class: "btn btn-defult") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
