<div class="row navbar-fixed-0">
  <div class="container">
    <div class="col-md-12">
      <div class="group">
        <h2 class="pull-left title-cl-1">书吧</h2>
        <div class="pull-right">

            <%= link_to("兴趣组", new_group_path, class: "btn btn-primary btn-lg pull-right fa fa-plus-circle") %>
            
            <%= link_to("我的群组", account_groups_path, class: "fa fa-users btn btn-lg btn-info") %>

            <%= link_to("我的文章", account_posts_path, class: "fa fa-paperclip btn btn-lg btn-success") %>

        </div>
      </div>
      <div class="row">
        <div class="container text-center">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fd34im62opj30j60a0wev.jpg" alt="">
        </div>
      </div>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>组数</th>
            <th>组名</th>
            <th>简介</th>
            <th>创建者</th>
            <th> 创建时间 </th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.id %></td>
              <td><%= link_to(group.title, group_path(group)) %></td>
              <td><%= simple_format(group.description) %></td>
              <td><%= group.user.email %></td>
              <td><%= group.created_at.to_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
