<div class="row">
   <div class="col-md-12">

    <h2> 交换明细 (<%= render_exorder_chose_state(@exorder) %>) </h2>

    <%= render "admin/exorders/state_option", exorder: @exorder %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">书名</th>
          <th>类型</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% current_list.list_items.each do |list_item| %>
          <tr>
            <td>
              <%= link_to(list_item.exbook.title, exbook_path(list_item.exbook)) %>
            </td>
            <td>
              <%= list_item.exbook.booktype %>
            </td>

            <td>
              <%= list_item.quantity %>
            </td>

          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        共计 <%= current_list.exbooks.count %> 本
      </span>
    </div>

    <hr>

    <h2> 订单资讯 </h2>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            订购人
          </td>
        </tr>
        <tr>
          <td>
            <%= @exorder.shipping_name %> - <%= @exorder.shipping_wechat %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @exorder.shipping_phone %> - <%= @exorder.shipping_location %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
