<div class="container">
  <div class="row">
    <h2 class="pull-left title-cl-1">Idel·书城</h2>

    <div class="pull-right">

    </div>

  </div>
  <div class="row">
    <div class="product-index">
      <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3 product-item">
            <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
            《<%= product.title %>》 <span>|</span> ￥<%= product.price %>
          </div>
      <% end %>
    </div>
  </div>
</div>
