<nav class="navbar navbar-default navbar-static-top header header-fixed" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav-main">

    <div class="navbar-header">
      <a href="/" class="navbar-brand"><img src='<%= image_url 'https://ww2.sinaimg.cn/large/006tKfTcgy1fd0i95sivcj303k03kt8j.jpg' %>' >EX·Bookshop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("书城", products_path) %>
        </li>
        <li><%= link_to("书吧", groups_path) %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart"></i>  ( <%= current_cart.products.count %> )
          <% end %>
        </li>

        <% if !current_user %>
            <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
            <li><a href="#" class='fa fa-sign-in' data-toggle="modal" data-target="#login-modal">登入</a></li>
        <% else %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hello, <%= current_user.email %>
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">

          <% if current_user.admin? %>
            <li>
              <%= link_to(content_tag(:i, "商家后台", class: "fa fa-database"), admin_products_path) %>
            </li>
          <% end %>

          <li>
            <%= link_to(content_tag(:i, "订单列表", class: "fa fa-list-ul"), account_orders_path) %>
          </li>

          <li>
            <%= link_to(content_tag(:i, "我的群组", class: "fa fa-users"), account_groups_path) %>
          </li>

          <li>
            <%= link_to(content_tag(:i, "我的文章", class: "fa fa-paperclip"), account_posts_path) %>
          </li>

          <li> <%= link_to(content_tag(:i, "登出", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>

          </ul>
        </li>
        <% end %>
      </ul>

    </div>
    </div>
    <!-- /.navbar-collapse-->
  </div>
  <!-- /.container-fluid -->
</nav>


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2>登录到EX·Bookshop</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, required: false, autofocus: true, label: "邮箱" %>
           <%= f.input :password, required: false, label: "密码" %>
           <%= f.input :remember_me, label: "记住我", as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "登录" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, label: "邮箱" , required: true, autofocus: true %>
          <%= f.input :password, label: "密码" ,required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "确认密码" ,required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "注册" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
