<!DOCTYPE html>
<html>
  <head>
    <title>EXBookshop 后台</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'common/navbar' %>
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked text-center" style="max-width: 400px;">
            <li><%= link_to("闲书列表", admin_products_path, class: "btn btn-primary") %></li>
            <li><%= link_to("订单", admin_orders_path, class: "btn btn-primary") %></li>
            <br>
            <li><%= link_to("Exbook·列表", admin_exbooks_path, class: "btn btn-info") %></li>
            <li><%= link_to("交换单", admin_exorders_path, class: "btn btn-info") %></li>
          </ul>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
